<h1>Community Pics</h1>

<% @pictures.each do |picture| %>
  <div>
    <div>
      <%= picture.title %>
      <%= link_to('(edit)', edit_picture_path(picture)) %>
    </div>
    <%= link_to(image_tag(picture.photo_file.url, {:width => 120, :style => "border:1px solid black", :'data-class_session' => 'week 2'}), picture) %>
  </div>
<% end %>

<br />

<%= link_to 'New Picture', new_picture_path %>
